@media (max-width:1280px) {

   .info .title {
      font-size: 2.2rem;
   }
}

@media (max-width:1024px) {
   .main-content {
      margin-top: 0;
   }

   .main-content img {
      width: 50%;
   }
}

@media (max-width:725px) {

   main {
      align-items: center;
   }

   .main-content {
      flex-direction: column;
      align-items: center;
   }

   .main-content img {
      width: 80%;
   }

   .info {
      text-align: center;
   }

   .info .title {
      font-size: 1.6rem;
   }

   .info p {
      font-size: 1.2rem;
   }
}

@media (max-width:576px) {
   body {
      background-image: url(../images/bg-mobile.svg);
      background-repeat: no-repeat;
   }

   main {
      padding: 1rem;
   }

   .footer {
      flex-direction: column-reverse;
      text-align: center;
   }

   .social-networks {
      margin-top: 2rem;
   }
}


@media (max-width:400px) {

   .main-content img {
      width: 60%;
   }

   .main-content {
      margin-top: 1rem;
   }

   .info .title {
      font-size: 1.3rem;
   }

   .info p {
      font-size: 1rem;
   }

   .info .btn-register {
      width: 10rem;     
   }

   .footer {
      margin: 1rem;    
      font-size: 1rem;
   }  
}