@media (max-width:1280px) {
   main {
      padding: 1.2rem;
   }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.2rem;
   }

   .info .title {
      text-align: center;
   }

   .info .btn-register {
      margin: 2rem 0 4rem;
   }

 
   .attribution {
      margin: 2rem 0;
   }
}

@media (max-width:1200px) {
     .main-content {
      flex-direction: column;
   }

     .footer {
      flex-direction: column;
   }
   .social-networks a:nth-child(2) {
      margin: 2rem;
  }
}

@media (max-width:420px) {
   body {
      background-image: url(../images/bg-mobile.svg);
      background-repeat: no-repeat;
      max-height: 20vh;
   }

   .info .title {
      font-size: 1.5rem;
   }
   .attribution {
      font-size: 1rem;
   }

 
}